<div class="form-field relative <%= @classes %> <%= "error-input" if errors.present? %>">
  <% if @label %>
    <div class="flex items-center gap-1">
      <%= @form_object.label @field_name, @label %>
      <% if required? %>
        <span class="text-red-500 text-sm">*</span>
      <% end %>
    </div>
  <% end %>

  <%= @form_object.number_field @field_name, placeholder: @placeholder, **@input_html %>

  <%= render ViewComponents::ErrorMessage.new(errors) if errors.present? %>
</div>
