<%= form_with url: update_price_location_product_path(location, product),
  model: product,
  method: :patch,
  class: "flex gap-2 items-center",
  html: {novalidate: true} do |f|
%>
  <%= render ViewComponents::NumberInput.new(
    f, :price,
    placeholder: "Введите цену",
    classes: "w-1/3",
    input_html: { min: 0, step: 0.01 }
  ) %>

  <div class="flex gap-2">
    <%= button_tag type: "submit", class: "btn blue" do %>
      <%= inline_svg_tag "check.svg" %>
    <% end %>

    <%= link_to cancel_editing_price_location_product_path(location, product),
      data: { turbo_frame: :product_price, turbo_stream: true },
      class: "btn gray" do
    %>
      <%= inline_svg_tag "x-mark.svg" %>
    <% end %>
  </div>
<% end %>
